# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
string_value = "myself aman"
integer_value = 21
boolean_value = True
float_value = 13.3
print(string_value,integer_value,boolean_value,float_value)

myself aman 21 True 13.3

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print(string_value,integer_value,boolean_value,float_value, sep="-")

myself aman-21-True-13.3

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [4]:
print(string_value,integer_value,boolean_value,float_value,sep=" ")

myself aman 21 True 13.3

4) Can a python print function take no value to print???

In [5]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [11]:
# Personal details
name = "Mr. Ahmed"
age = 30
profession = "Lawyer"

# Education details
degree = "Bachelors in Law"
graduation_year = 2005

# Work details
company_name = "The Himalya Associates"
location = "Karachi"
start_year = 2015

# Physical attributes
height_feet = 5.10
weight_grams = 70600

# Income details
monthly_income_pkr = 200000

# Displaying the information
print(name)
print(f"Age: {age}")
print(f"Profession: {profession}")
print(f"Degree: {degree}")
print(f"Graduation Year: {graduation_year}")
print(f"Working at: {company_name}, {location} since {start_year}")
print(f"Height: {height_feet} feet")
print(f"Weight: {weight_grams} grams")
print(f"Monthly Income: Rs. {monthly_income_pkr} PKR")

Mr. Ahmed
Age: 30
Profession: Lawyer
Degree: Bachelors in Law
Graduation Year: 2005
Working at: The Himalya Associates, Karachi since 2015
Height: 5.1 feet
Weight: 70600 grams
Monthly Income: Rs. 200000 PKR

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [7]:
current_year = 2024
graduation_year = 2005
years_since_graduation = current_year - graduation_year
print(f"years_since_graduation: {years_since_graduation}")

years_since_graduation: 19

In [3]:
current_year = 2024
graduation_year = 2005
print(f"current_year: {current_year} - graduation_year: {graduation_year} = {current_year - graduation_year}")

current_year: 2024 - graduation_year: 2005 = 19

In [48]:
current_year = 2024
graduatin_year = 2005
current_year-graduatin_year

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [9]:
current_year = 2024
joining_year = 2015
years_since_joining = current_year - joining_year
print(f"years_since_joining: {years_since_joining}")

years_since_joining: 9

In [6]:
current_year = 2024
joining_yera = 2015
print(f"current_year: {current_year} - joining_yera: {joining_yera} = {current_year-joining_yera }")

current_year: 2024 - joining_yera: 2015 = 9

In [10]:

current_year = 2024
joining_year = 2015
current_year-joining_year

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [18]:

monthly_income_in_pkr = 200000 
exchange_rate = 280 

monthly_income_in_usd = monthly_income_in_pkr / exchange_rate

print(f"{monthly_income_in_usd}.USD")

714.2857142857143.USD

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [22]:
income_in_dollars = 714.2857142857143
value = int(income_in_dollars)
print(value)

714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [29]:
weight_g = 70600
weight_kg = weight_g//1000
print(f"{weight_kg}kg")

70kg

In [22]:
#11) print the year of birth of Mr. Ahmed.

1994

In [30]:
#type your code here
age = 30
current_year = 2024
year_of_birth = current_year - age
print(f"Mr. Ahmed's year of birth is: {year_of_birth}")

Mr. Ahmed's year of birth is: 1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [41]:
amount = 100
students = 6
if amount % students == 0:
    print("Rs. 100 can be divided equally among 6 students")
else:
    print("Rs. 100 can not be divided equally among 6 students")

Rs. 100 can not be divided equally among 6 students

In [ ]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

                                                Saylani Mass IT 
                                              Name   : Aman khan
                                              Course : AI and DS
                                         Days   : Tuesday and Thursday
                                              ID     : AI - 333181